# Question 1
Consider the following Python module: 
 
a = 0 
 
def b(): 
    global a 
    a = c(a) 
 
def c(a): 
    return a + 2 
 
After importing the module into the interpreter, you execute: 
 
>>> b() 
>>> b() 
>>> b() 
>>> a 
? 
 
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [2]:

a = 0 
 
def b(): 
    global a 
    a = c(a) 
 
def c(a): 
    return a + 2

In [4]:
b()

In [6]:
b()

In [8]:
b()

In [10]:
a

6

# Answer
a is initialized to 0 at the module level.
So initially, a = 0

The function b() is called.
Inside b(), the statement global a declares that we are referring to the global variable a.
The next line executes a = c(a).
The function c(a) is called with the current value of a, which is 0.
Inside c(a), it computes return a + 2, which evaluates to 0 + 2 = 2.
The return value 2 is assigned back to a, so now a

The function b() is called again.
It again declares global a, which now has the value 2.
The line a = c(a) is executed.
The function c(a) is called with the current value of a, which is 2.
Inside c(a), it computes return a + 2, which evaluates to 2 + 2 = 4.
The return value 4 is assigned back to a, so now a

The function b() is called once more.
It declares global a, which now has the value 4.
The line a = c(a) is executed.
The function c(a) is called with the current value of a, which is 4.
Inside c(a), it computes return a + 2, which evaluates to 4 + 2 = 6.
The return value 6 is assigned back to a, so now a

Now, when we evaluate a, its current value is 6.
 = 6. = 4.
 = 2..

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file: 
 
>>> fileLength('midterm.py') 
284 
>>> fileLength('idterm.py') 
Traceback (most recent call last): 
  File "<pyshell#34>", line 1, in <module> 
    fileLength('idterm.py') 
  File "/Users/me/midterm.py", line 3, in fileLength 
    infile = open(filename) 
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py' 
 
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead: 
 
>>> fileLength('midterm.py') 
358 
>>> fileLength('idterm.py') 
File idterm.py not found.

In [25]:
import os

def fileLength(file_name):
    if os.path.exists(file_name):
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    else:
        print(f"File {file_name} not found.")

In [18]:
fileLength('Sonu.SureshJohn.BDAT1004PS1.ipynb')

24467

In [20]:
fileLength('Sonu.SureshJhn.BDAT1004PS1.ipynb')

File Sonu.SureshJhn.BDAT1004PS1.ipynb not found.

# Question 3
Write a class named Marsupial that can be used as shown below: 
 
>>> m = Marsupial() 
>>> m.put_in_pouch('doll') 
>>> m.put_in_pouch('firetruck') 
>>> m.put_in_pouch('kitten') 
>>> m.pouch_contents() 
['doll', 'firetruck', 'k
>>> 
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also: 
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object, 
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the y
axis, and 
c. overloads the __str__ operator so it behaves as shown 
>>> k = Kangaroo(0,0) 
>>> print(k) 
I am a Kangaroo located at coordinates (0,0) 
>>> k.put_in_pouch('doll') 
>>> k.put_in_pouch('firetruck') 
>>> k.put_in_pouch('kitten') 
>>> k.pouch_contents() 
['doll', 'firetruck', 'kitten'] 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> print(k) 
I am a Kangaroo located at coordinates (3,0) below. itten']

In [58]:
class Marsupial:
    def __init__(self):
        self.pouch = []                           # Initialize an empty pouch list
        
    def put_in_pouch(self, item):                 
        self.pouch.append(item)                   # Add item to the pouch list
        
    def pouch_contents(self):
        return self.pouch                         # Return the contents of the pouch list


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()                        # Call the constructor of the base class (Marsupial)
        self.x = x                                # Initialize the x-coordinate of the kangaro
        self.y = y                                # Initialize the y-coordinate of the kangaroo
        
    def jump(self, dx, dy):
        self.x += dx                               # Move the kangaroo along the x-axis by dx units
        self.y += dy                               # Move the kangaroo along the y-axis by dy units
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [60]:
m = Marsupial()
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten') 
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [62]:
k = Kangaroo(0,0)

In [64]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [66]:
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [68]:
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0) 
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence: 
  
x = {  𝑥/2                    𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
 3𝑥+1               𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 
 
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without an
>>>collatz(1) 
1 
>>> collatz(10) 
10 
5 
16 
8 
4 
2 
1y loops.

In [70]:
def collatz(x):
    print(x)
    if x == 1:
        return
    if x % 2 == 0:
        collatz(x // 2)  
    else:
        collatz(3 * x + 1)

In [72]:
collatz(1)

1

In [74]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n. 
 
>>> binary(0) 
0 
>>> binary(1) 
1 
>>> binary(3) 
11 
>>> binary(9) 
1001

In [106]:
def binary(n):
    if n == 0:
        print(0, end='')      
    elif n == 1:              
        print(1, end='')     
    else:
        binary(n // 2)  
        print(n % 2, end='')

In [108]:
 binary(0)

0

In [110]:
binary(1)

1

In [112]:
binary(3)

11

In [114]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Librar 
module html.parser. When fed a string containing HTML code, your class shoud 
print the headings, one per line and in the order in which they appear in he 
document. Each heading should be indented as follows:  n h1 heading should indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html. 
 
>>> infile = open('w3c.html') 
>>> content = infile.read() 
>>> infile.close() 
>>> hp = HeadingParser() 
>>> hp.feed(content) 
W3C Mission 
 Principles have

In [47]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.heading = False
        self.indent = 0    

    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.heading=True
        elif tag == 'h2':
            self.heading=True
            self.indent=1
            
    def handle_data(self,content):
        if (self.heading and self.indent ==0):   
            print(content) #prints h1
        elif (self.heading and self.indent ==1): 
            print(' ',content)    #prints h2

In [66]:
infile = open("C:\\Users\\Sonu John\\Desktop\\w3c.html", "r")
content = infile.read()
infile.close()
headingparser = HeadingParser() 
headingparser.feed(content)

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and prin 
each web page's URL. As shown below, indentation, specified by indent,  shoud 
be used to indicate the depth of a URL. 
 
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
 , 2, 0) 
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html 
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html 
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html 
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html 
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [45]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser
class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

    
def analyze(url):
    
    if len(visited) ==1:
        print(url)
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()         
    return urls


visited= set()

def webdir(url,depth,indent):
   
    first_url=url
    global visited 
    visited.add(url)

    links = analyze(url)
    for link in links:
        if link not in visited:
            try:                
                if len(visited) <= depth:
                    if len(visited) <= (depth-1):
                        print( (depth-1)*'\t',link)
                    print( indent*'\t',link)
                webdir(link,depth,indent)                
            except:
                pass

webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/one.html
	 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/four.html

# Question 8
Write SQL queries on the below database table that return:  
a) All the temperature data. 
b) All the cities, but without repetition. 
c) All the records for India. 
d) All the Fall recor
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters. 
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order. 
g) The total annual rainfall for Cairo. 
h) The total rainfall for each season.ds.

In [35]:
import sqlite3
con = sqlite3.connect('weatherdatafinal2.db')  
 
cur = con.cursor() 

cur.execute("CREATE TABLE weather_data (City, Country, Season, Temperature, Rainfall)")  

values = [
    ['Mumbai', 'India', 'Winter', 24.8, 5.9],
    ['Mumbai', 'India', 'Spring', 28.4, 16.2],
    ['Mumbai', 'India', 'Summer', 27.9, 1549.4],
    ['Mumbai', 'India', 'Fall', 27.6, 346.0],
    ['London', 'United Kingdom', 'Winter', 4.2, 207.7],
    ['London', 'United Kingdom', 'Spring', 8.3, 169.6],
    ['London', 'United Kingdom', 'Summer', 15.7, 157.0],
    ['London', 'United Kingdom', 'Fall', 10.4, 218.5],
    ['Cairo', 'Egypt', 'Winter', 13.6, 16.5],
    ['Cairo', 'Egypt', 'Spring', 20.7, 6.5],
    ['Cairo', 'Egypt', 'Summer', 27.7, 0.1],
    ['Cairo', 'Egypt', 'Fall', 22.2, 4.5]
]

for value in values:
    cur.execute("INSERT INTO weather_data VALUES (?, ?, ?, ?, ?)", value)

con.commit() 
con.close()

In [ ]:
#Answers

In [247]:
#a) All the temperature data.

con = sqlite3.connect('weatherdatafinal2.db')   
cur = con.cursor()  
cur.execute('SELECT Temperature FROM weather_data')  # execute the query to fetch all temperature data

temperature_data = cur.fetchall()  

for temperature in temperature_data:
    print(temperature[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [249]:
#b) All the cities, but without repetition

con = sqlite3.connect('weatherdatafinal2.db')
cur = con.cursor()
cur.execute("SELECT DISTINCT City FROM weather_data") 

cities = cur.fetchall()

for city in cities:
    print(city[0])

Mumbai
London
Cairo

In [251]:
#c) All the records for India
con = sqlite3.connect('weatherdatafinal2.db')
cur = con.cursor()
cur.execute("SELECT * FROM weather_data WHERE Country = 'India'")

india_records = cur.fetchall()

for record in india_records:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [253]:
#d) All the Fall records.
con = sqlite3.connect('weatherdatafinal2.db')
cur = con.cursor()
cur.execute("SELECT * FROM weather_data WHERE Season = 'Fall'")

fall_records = cur.fetchall()

for record in fall_records:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [207]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
con = sqlite3.connect('weatherdatafinal2.db')
cur = con.cursor()
cur.execute("SELECT City, Country, Season FROM weather_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")

records = cur.fetchall()

for record in records:
    print(record)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [255]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. 
con = sqlite3.connect('weatherdatafinal2.db')
cur = con.cursor()
cur.execute("SELECT City, Country FROM weather_data WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature)")

records = cur.fetchall()

for record in records:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [257]:
#g) The total annual rainfall for Cairo
con = sqlite3.connect('weatherdatafinal2.db')
cur = con.cursor()
cur.execute("SELECT SUM(Rainfall) FROM weather_data WHERE City = 'Cairo'")

total_rainfall = cur.fetchone()[0]

print(total_rainfall)

27.6

In [259]:
#h) The total rainfall for each season.
con = sqlite3.connect('weatherdatafinal2.db')
cur = con.cursor()
cur.execute("SELECT Season, SUM(Rainfall) FROM weather_data GROUP BY Season")

records = cur.fetchall()

for record in records:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9 
 Suppose list words is defined as follows: 
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog'] 
Write list comprehension expressions that use list words and generate the following 
lists: 
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG'] 
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] 
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words). 
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.) 
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [29]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# part a
upper_case_words = [word.upper() for word in words]

# part b
lower_case_words = [word.lower() for word in words]

# part c 
word_lengths = [len(word) for word in words]

# part d
word_info = [[word.upper(), word.lower(), len(word)] for word in words]

# part e
words_4_or_more = [word for word in words if len(word) >= 4]

In [31]:
#Answers
print("a) ", upper_case_words)
print("b) ", lower_case_words)
print("c) ", word_lengths)
print("d) ", word_info)
print("e) ", words_4_or_more)

a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c)  [3, 5, 5, 3, 5, 4, 3, 4, 3]
d)  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e)  ['quick', 'brown', 'jumps', 'over', 'lazy']